.App {
  text-align: center;
  /* background-color: grey;
  color: white; */
  height: 100vh;
}

.hidden {
  display: none;
}

.winning-msg {
  color: rgb(44, 247, 44);
  font-weight: bold;
  text-align: left;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

form {
  margin-left: 1rem;
}

.chat-div {
  text-align: left;
  margin-left: 1.5rem;
}

.btn {
  margin: 0.25rem;
}

.whiteboard {
  width: 300px;
  height: 300px;

  background-color: blanchedalmond;
  box-shadow: -25px 22px 63px -10px rgba(0, 0, 0, 0.68);
}

.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 20px;
  width: 50px;
}

.color.black {
  background-color: black;
}
.color.red {
  background-color: orangered;
}
.color.green {
  background-color: limegreen;
}
.color.blue {
  background-color: royalblue;
}
.color.yellow {
  background-color: yellow;
}

.color.white {
  background-color: white;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  font-size: large;
  padding: 2rem;
}

footer {
  margin-top: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
